<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="POST" class="composeForm">
    <div class="form-group">
      <label for="formGroupExampleInput">Title</label>
      <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      name="title"/>
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Post</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      name="composeData"></textarea>
    </div>
  <button class="btn btn-outline-primary" type="submit">Compose</button>
</form>
<%- include('partials/footer') -%>
